{% extends "layout.html" %}
{% block body %}
<div class="jumbotron">
    <h1>Welcome to 16 Strings!</h1>
    <p class="lead hidden-xs">Welcome to the Offical website of 16 Strings. Here you can find all of our news, where our gigs are and how to contact us.</p>
    <p><a class="btn btn-lg btn-success" href="http://www.youtube.com/watch?v=34O9JVzvP8k" role="button" target="blank">Watch us perform</a></p>
</div>

<div class="row">
    <div class="col-sm-6">
        <h2>Where to find us</h2>
        <p>
            In addition to our gigs 16 strings are regular contributors to sessions around the Cotswolds, including The Fleece @ Bretforton and the First Folking Friday @ Norman Knight, Whichford.
        </p>
    </div>
    <div class="col-sm-6">
        <h2>Meet the Musicians</h2>
        <p>
            16 Strings consists of Eleanor Stanley on fiddle, guitar and vocals, James Thomas on guitars, Mike Beeston on percussion and Matt Watkins on bass.
        </p>
    </div>
</div>
{% endblock %}