<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
   	 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>16 Strings</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="bootstrap.min.css") }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="bootstrap-theme.min.css") }}">
		<link href='http://fonts.googleapis.com/css?family=Stardos+Stencil:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}">
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	</head>

	<body>
		<div class="container">

			<header class="page-header">
				<ul class="nav navdesktop hidden-xs hidden-sm nav-pills pull-right">
	 			 	<li><a href="{{ url_for("home") }}">Home</a></li>
					<li><a href="{{ url_for("news") }}">News</a></li>
					<li><a href="{{ url_for("links") }}">Links</a></li>
					<li><a href="{{ url_for("contact") }}">Contact Us</a></li>
				</ul>
				<nav class="navbar visible-xs visible-sm hidden-md hidden-lg navbar-default" role="navigation">
					  <div class="container-fluid">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					      <a class="navbar-brand" href="#">16 Strings</a>
					    </div>

					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					      <ul class="nav navbar-nav">
					        <li><a href="{{ url_for("home") }}">Home</a></li>
							<li><a href="{{ url_for("news") }}">News</a></li>
							<li><a href="{{ url_for("links") }}">Links</a></li>
							<li><a href="{{ url_for("contact") }}">Contact Us</a></li>
					      </ul>
					        </li>
					      </ul>
					    </div><!-- /.navbar-collapse -->
					  </div><!-- /.container-fluid -->
					</nav>
				<h1 class="hidden-xs hidden-sm">16 Strings</h1>
			</header>

			{% block body %}
			{% endblock %}

			<div class="footer">
      			<hr>
        		<p>&copy; Charlie Thomas 2014</p>
      		</div>
		</div>
		<script src="https://code.jquery.com/jquery.js"></script>
    	<!-- Include all compiled plugins (below), or include individual files as needed -->
    	<script src="js/bootstrap.min.js"></script>
    </body>
</html>