{% extends "layout.html" %}
{% block body %}
<div class="row">
    <h2 class="col-xs-12 text-center">Links to our Associates</h2>
</div>
<div class="row table-responsive">
    <table border="0" id="linkstable" class="col-xs-12 table table-bordered">
        <tbody>
            <tr>
                <th>Name</th>
                <th>URL</th>
            </tr>
            <tr>
                <td>The Norman Knight</td>
                <td><a href="http://www.thenormanknight.co.uk" target=blank>http://www.thenormanknight.co.uk</a></td>
            </tr>
            <tr>
                <td>Fabtronic</td> 
                <td><a href="http://www.fabtronic.co.uk" target=blank>http://www.fabtronic.co.uk</a></td>           
            </tr>
            <tr>
                <td>Edbrington Arms</td>
                <td><a href="http://www.theebringtonarms.co.uk/" target=blank>http://www.theebringtonarms.co.uk/</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}